@media all and (max-width: 800px)
{


    @font-face {
        font-family: "roboto";
        src: url(roboto/Roboto-Regular.ttf);
    }
    @font-face {
        font-family: "Shrikhand";
        src: url(Shrikhand/Shrikhand-Regular.otf);
    }


.arrow-logo
{
    display: flex;
    justify-content: space-around;
}

.arrow
{
    font-size: 25px;
    padding-top: 15px;
    margin-right: 35px;
}

.logo img
{
    width: 85%;
    height: 85%;
}

header .image
{
    width: 100%;
    height: 300px;
   background-image: url("jay-wennington-N_Y88TWmGwA-unsplash.jpg");
   background-attachment: fixed;
   background-size: 100%;
   background-repeat: no-repeat;
}

section
{
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    margin-top: -140px;
}

section .title
{
    font-family: shrikhand;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
    
}

section .title i
{
    font-size: 25px;
    margin-top: 30px;
}

.far
{
    position: relative;
    left: 25px;
}

.second-heart
{
    color: transparent;
    background-image: linear-gradient(to bottom right,#ff79da, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 300ms;
}

.second-heart:hover
{
    opacity: 1;
    transform: scale(1.12);
}


section h2
{
    font-family: roboto;
   text-decoration: underline 5px #99E2D0;
   margin-right: 250px;
}

.entrées
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plats
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desserts
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plat
{
    display: flex;
    font-family: roboto;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    width: 380px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    animation-name: plat;
    animation-duration: 2s;
    animation-duration: 100ms;

}

@keyframes plat
{
    from {top: -150px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}


.plat:hover .checkmark
{
    transform: translateX(-40px);
    opacity: 1;
}

.plat:hover .plat-price
{
    transform: translateX(-40px);
}

.plat:hover i
{
    animation-name: rotate;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes rotate
{
    0%{transform: rotate(180deg);}
    100%{transform: rotate(0deg);}
}

.plat-title
{
    width: 480px;
}
.plat h3
{
    padding-left: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.plat p
{
    margin-top: -20px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.plat-price
{
    margin-top: 40px;
    position: relative;
    left: 38px;
    transition: all 500ms;
}


.checkmark 
{
    background-color:#99E2D0 ;
    width: 70px;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    left: 40px;
    opacity: 0;
    transition: all 500ms;
}

.checkmark i
{
    color: #fff;
    margin-top: 26px;
    margin-left: 10px;
    font-size: 25px;
}

.btn
{
    text-align: center;
}

.btn input
{
    font-family: roboto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC )  ;
    border-radius: 20px 20px 20px 20px ;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 2px 1px 16px -3px #000;
    transition: all 200ms;
    
}

.btn input:hover
{
    opacity: 0.9;
    transform: scale(1.02);
    box-shadow: 6px 4px 16px -3px #000 ;
}

footer 
{
    background-color: #353535;
    color: #fff;
    height: 200px;
}

footer h1
{
    margin-left: 40px;
    padding-top: 10px;
    font-family: Shrikhand;
    font-size: 40px;
    margin-top: 0px;
}

.footer-list ul
{
    font-family: roboto;
    list-style: none;
}

.footer-list li
{
    margin-bottom: 8px;
}

.footer-list li i
{
    margin-right: 10px;
}


}

